# =========================
# HMM databases (downloaded)
# =========================
Pfam-A.hmm*
BAR_superfamily.hmm*
*.h3f
*.h3i
*.h3m
*.h3p
Sources/*

# =========================
# Pipeline outputs
# =========================
bar_results/
results/
chunks/
domtblout/
logs/
hits/
ESCRT_results*
# =========================
# Python junk
# =========================
__pycache__/
*.pyc

# =========================
# Logs & temp files
# =========================
*.log
*.tmp

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
